{% extends 'base.html.twig' %}

{% block body %}
    <div class="row d-flex justify-content-center">
        <h1>Abonnement newsletter</h1>

        {{ component('SubscribeForm') }}
    </div>
{% endblock %}