<div class="footer-bg w-100">
    <div class="container h-100">
        <div class="row py-4 justify-content-center d-flex">
            <div class="col-12 justify-content-center d-flex">
                <img src="https://www.annexx.com/images/winner.jpg" alt="Annexx : élu meilleur site de self stockage en Europe en 2024"> 
                <img src="https://www.annexx.com/images/award2024.jpg" alt="Award du développement durable 2024">
            </div>
            <div class="logo_annexx_blanc col-12pt-3">
                <img src="https://www.annexx.com/images/logos/annexx-mon-box-securise-blanc.svg" alt="Annexx : garde meuble et box de stockage">
            </div>
        </div>
    </div>
</div>