<div class="navbar-bg w-100">
    <div class="navbar-bg container">
        <div class="row py-3">
            <div id="logo" class="col-xs-8 col-sm-4 offset-md-4 text-center">
                <a href="https://www.annexx.com/">
                    <img src="https://www.annexx.com/images/logos/annexx-mon-box-securise.svg" alt="Annexx : garde meuble et box de stockage" title="Annexx : solutions de self-stockage" plerdy-tracking-id="79035549301">
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 noPad text-center d-flex align-items-center justify-content-center">
                <a class="text-dark phone-number d-flex justify-content-center align-items-center" href="tel:04 48 20 03 08">
                    <i class="material-icons">local_phone</i>&nbsp;
                    <span class="font-weight-bold">04 48 20 03 08</span>
                </a>
            </div>
        </div>
    </div>
</div>