{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lien Invalide</h1>

    <p>
        Il semblerait que vous soyez déjà désinscrit de la newsletter <strong>{{ newsletter.name }}</strong>.
    </p>
{% endblock %}